body {
    background-image: url("sfondoslot");
}
.slot {
    display: inline-block;
    font-size: 100px;
    border: 1px;
}

#container {
    margin-top: 20px;
    text-align: center;
}

#button {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#button:active {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: white;
}